.reviews {
  padding-top: 103px;
  padding-bottom: 70px;
  &__title {
    text-align: center;
  }
  &__wrapper {
    margin-top: 70px;
    &:first-child {
      margin-top: 0px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
  }
  &__text {
    width: 650px;
  }
  &__count {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #646464;
  }
  &__descr {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #0d0d0d;
  }
}